.information__job span{
    font-size: 12px;
    color: $color-black;
}

.information_job_title{
    font-weight: bold;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 20px;
    }
}

.information__job .grid{
    margin-right: -20px;
}

.information__job .grid .field {
    margin-bottom : 20px;
}

.link{
    color: $color-primary !important;
}

.information_job_title .p-float-label{
        padding-top: 10px;
}

.aria_content,
.aria_note{
    height: 150px;
}

.p-sidebar-content{
    padding: 10px 20px 0 20px !important;
}

.image_messager{
    width: 30px;
}

#editor{
    width: 100%;
}

.btn__close{
    position: absolute;
    right: 140px;
    bottom: 33px;
}

.p-button.p-button-text:enabled:hover, .p-button.p-button-text:not(button):not(a):not(.p-disabled):hover {
    background: transparent;
    color: none;
    border-color: none;
}

.text_seen{
    cursor: url("../../images/edit.svg"), auto;
}