$color-primary: #0061F4;
$color-secondary: #34444C;
$color-white: #FFFFFF;
$color-success: #3BB900;
$color-success-bg : #ECFBE6;
$color-warning : #f99500;
$color-danger: #ff0d39;   
$color-text: #223354; 
$color-bgTable: #EBF8FF;
$color-msg-forgotPwd: #C2FFCC; 
$color-avatar : #FEBD06;
$color-isOnline : #44D600;
$color-gray-dark: #333333;
$color-bloom: #000C57;
$color-light-bloom: #6E759F;
$color-light-blue: #F6F8FB;
$color-bg-table:#FBFAFA;
$color-table-header:#34444C;
$color-border-input:#D0D5DD;
$color-black: #000000;
$color-input: #F5F5F6;